body {
	font-family: Tahoma, Geneva, sans-serif
  }

  canvas {
	border: 1px solid black
  }

  ul,
  li {
	padding: 10px 15px 15px 10px;
	list-style-type: none;
	text-align: center
  }

  #container {
	position: relative
  }

  #container canvas,
  #overlay {
	position: absolute
  }

  .flex-container {
	display: flex;
	flex-direction: row;
	align-content: space-between
  }

  .sidebar {
	flex: 1;
	height: 100vh;
	position: absolute;
	top: 10vh;
	left: 20%;
  }

  .content {
	flex: 1;
	height: 100vh;
	position: absolute;
	top: 10vh;
	left: 30%;
  }

  .right {
	flex: 1;
	height: 100vh;
	position: absolute;
	top: 10vh;
	right: 5%;
  }

  .button {
	border: 1px solid black;
  }

  .dropbox {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	width: 500px;
	height: 200px;
	border: 4px dashed black;
  }

  .dropbox button {
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 170px;
	color: black;
	font-family: Arial;
  }